.CatalogBlock
{
  border: double palevioletred 2px;
  width: auto;
  padding: 3px 7px;
  background-color:plum;
}

.CatalogBlock .Market
{
  font-weight: bold;
}

.CatalogBlock .Products
{
  padding-top: 5px;
}

.CatalogBlock .Products .Product
{
  padding: 2px 0;
}

.CatalogBlock .Products .Product .Count
{
  
  width: 50px;
  font-weight: bold;
  text-align: right;
}
.CatalogBlock .Products .Product .Price
{
  
  width: 50px;
  font-weight: bold;
  text-align: center;
}
.CatalogBlock .Products .Product .Img
{
  
  width: 100px;
  font-weight: bold;
  text-align: right;
}

.CatalogBlock .Products .Product .Text
{
  margin-right: 30px;
}
